<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">BLOG</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="{% url 'article:articles' %}">Makaleler</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'about'%}">Hakkımda</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				{% if request.user.is_authenticated %}
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'article:dashboard' %}">Kontrol Paneli</a>
				</li>

				{% else %}
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'user2:register' %}">Kayıt Ol</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'user2:login2' %}">Giriş Yap</a>
				</li>
				{% endif %}
				{% if request.user.is_authenticated %}
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'user2:logOut' %}">Çıkış Yap</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</body>

</html>

